
.image-container {
    width: 350px;
    height: 430px;
    margin: 0 auto;
    margin-top: 0%;
    margin-bottom: 0%;
    overflow: hidden;
}

img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: top;
    display: block;
    margin: 0 auto;
}
#name-text {
    font-size: 20px !important;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
}
main {
    text-align: center;
    margin-top: 0%;
    margin-bottom: 0%;
    padding: 0 50px;
}
body {
    background-color: #ECEBEA;
    margin: 0;
    padding: 0;
}